
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: Amazon Ember, sans-serif;
}

:after, :before {
    box-sizing: border-box;
}

body {
    text-rendering: optimizeSpeed;
    background-color: #eaeded;
}

.img {
    display: block;
    max-width: 100%;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #131921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header input {
    width: 95%;
    height: 1.6em;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1.25em;
    border: none;
}

.logoBtn {
    width: 7em;
    display: flex;
    align-items: center;
    background: none;
    color: white;
    border: 1px solid #131921;
    padding: 10px 10px;
}

.search {
    width: 60%;
    display: flex;
    border-radius: 5px;
    /*background-color: #f8f4f4;*/
    /*flex: 1 1;*/
    font-size: 1.25em;
    margin-right: 0.5em;
    overflow: hidden;
}

.header__searchIcon {
    width: 1.5em;
    background: #febd68;
    display: flex;
    padding: 0.255em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.25em;
}

.headerBtn {
    width: content-box;
    height: 55px;
    background: none;
    color: white;
    border: 1px solid #131921;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px;
}

.headerBtn span {
    font-size: .8em;
    margin-bottom: 5px;
}

.headerBtn div {
    font-size: 1.1em;
}

.logoBtn:hover, .headerBtn:hover, .basket:hover {
    border: 1px solid white;
}

.logo {
    width: 100%;
    height: 2em;
    margin-right: 1em;
    padding-top: 0.25em;
}

.logoFlag {
    width: 30px;
    height: 20px;
}

.logoCart {
    filter: invert(1);
    width: 3em;
}

.basketCount {
    color: #f08806;
    font-size: 1.1em;
    left: 35%;
    position: absolute;
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
}

.basket {
    position: relative;
    width: content-box;
    height: 55px;
    background: none;
    color: white;
    border: 1px solid #181616;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
}

.basket span {
    font-size: 1.1em;
    margin-top: 1.2em;
}
/*main**************************************/
.main__top__Img {
    margin-bottom: -15em;
    width: 100%;
    z-index: -1;
}

.productBlock1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.5em auto;
}

.productItem img {
    height: 50%;
    margin: 15px auto;
}

.productItem p {
    font-size: 1.25em;
    margin-left: .5em;
    margin-bottom: .3em;
}

.product__item__price__block {
    font-size: 1.5em;
    margin-left: .5em;
}

.product__price__big {
    font-size: 1.5em;
}

.add__btn__block {
    text-align: center;
}

.productItem:nth-child(6n + 1),
.productItem:nth-child(6n + 2) {
    width: calc(100% / 2 - 1.5%);
    height: 26em;
    background-color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em #b5b5b5;
    overflow: hidden;
    margin: 1em auto;
}

.productItem:nth-child(6n + 3),
.productItem:nth-child(6n + 4),
.productItem:nth-child(6n + 5) {
    width: calc(100% / 3 - 1.5%);
    height: 26em;
    background-color: white;
    margin: 1em auto;
}

.productItem:nth-child(6n + 6) {
    width: calc(100% - 1.5%);
    height: 26em;
    background-color: white;
    margin: 1em auto;
}

.addToCartBtn {
    width: 12em;
    height: 2.2em;
    margin: 15px auto;
    background-color: #ffd712;
    border-radius: 20px;
    border: none;
    font-size: 1.1em;
}

.addToCartBtn:hover {
    cursor: pointer;
    background-color: #efc70e;
}

.cart__wrapper {
    display: flex;
}

.container {
    background-color: #fff;
    width: 75%;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.cart__info {
    width: 21%;
    height: 8em;
    background-color: #fff;
    margin: 1em auto;
    padding-top: 1em;
    padding-left: 1em;
}

.cart__banner {
    height: 17em;
}

.cart__line {
    width: 96%;
    margin: 0 auto;
    height: 1px;
    background-color: #d3d3d3;

}

.h1 {
    margin-left: .7em;
    margin-top: 1em;
    margin-bottom: .4em;
    font-size: 1.7em;
}

.cart__deselect {
    margin-left: 1.2em;
    margin-bottom: 1.4em;
    font-size: 1em;
    background: none;
    border: none;
    color: #5292a3;
    cursor: pointer;
}

.cart__item {
    width: 95%;
    height: 10.5em;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    border-bottom: 1px solid #d3d3d3;
}

.cart__img {
    width: 22%;
    height: 100%;
    text-align: center;

}

.item__img {
    height: 97%;
}

.cart__item__price {
    display: flex;
    justify-content: space-between;
}

.cart__item__price p {
    font-size: 1.25em;
    margin-left: .5em;
    margin-bottom: .3em;
}

.cart__item__price span {
    font-size: 1.5em;
}

.cart__item__name {
    width: 75%;
}

.item__gift {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: .5em;
}

.learn__btn {
    background: none;
    border: none;
    color: #3f1db9;
    text-decoration: underline;
}

.learn__btn:hover {
    cursor: pointer;
}

.info__checkbox {
    display: flex;
    font-size: .9em;
    margin-top: .5em;
}

.info__checkbox input {
    margin-right: .6em;
}

.cart__rating {
    margin-top: .5em;
}

.proceed__btn {
    width: 95%;
    height: 2em;
    margin: 1em auto;
    border: none;
    border-radius: 7px;
    background-color: #ffd712;
    font-size: .95em;

}

.proceed__btn:hover {
    cursor: pointer;
    background-color: #efc70e;
}

.cart__btns {
    width: 25%;
    height: 1.5em;
    display: flex;
    justify-content: space-between;
    margin-left: .5em;
    margin-top: .5em;
}

.delete__save__btn {
    border: none;
    background: none;
}

.delete__save__btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.vertical__line {
    width: 1px;
    height: 1.5em;
    background-color: #5b5858;
}

/*login**************************/
.login__container {
    /*width: 15em;*/
    text-align: center;
    padding-top: 1.5em;

    margin: 0 auto;
}

.login__logo {
    width: 6em;
    /*background-color:  white;*/
    margin: 0 auto;
}

.login__block {
    background-color: white;
    width: 21.5em;
    height: 19em;
    margin: 1.5em auto;
    text-align: left;
    border: 1px solid #a29e9e;
    border-radius: 5px;
    padding: 1em 1.5em;
}

.login__title {
    font-size: 1.8em;
}

.login__input__block {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.login__input {
    height: 1.7em;
    background-color: #eaefed;
    border: 0.075em solid #878787;
    border-radius: 0.1em;
}

.login__signIn {
    width: 100%;
    height: 1.7em;
    border: 0.075em solid #878787;
    border-radius: 0.1em;
    margin-top: 1em;
    background: linear-gradient(#f6dd9e, #f0c24d);
}

.login__signIn:hover {
    cursor: pointer;
    background: linear-gradient(#f6dd9e, #f6bc22);

}

.login__text {
    font-size: .85em;
    margin-top: 1.5em;
    line-height: 1.5em;
}
.err__msg{
    color: #e3751b;
    text-align: right;
}
.ratingStar{
    margin-left: .5em;
}
.create__account{
    width: 21.5em;
    border-top: 1px solid #a29e9e;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
.create__account p, .create__btn{
    font-size: .8em;
}
.create__btn{
    border: none;
    color: #528c8c;
    margin-left: .5em;
}
.create__btn:hover{
    text-decoration: underline;
    color: #e3a51e;
    cursor: pointer;
}


/*toast*********************************/

.toast {
    background-color: #f5b68d;
    color: #181616;
    width: fit-content;
    margin-top: 3em;
    border-radius: 10px;
}
